<div class="head">
    <img id="h" src="assets/img/brand_lrg.png">
    <h1>Oak Cliff Roasters</h1>
</div>

<div class="content">

<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="image1"></div>
      <mat-card-title>Kedamai</mat-card-title>
      <mat-card-subtitle>Ethiopia</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='assets/img/AF_Kedamai_Website_Image.png' alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Kedami Cooperative is a contributing member to the Kata Muduga Farmers Cooperative Union in the Oromia region of Ethiopia. An initial loan from the Union allowed the cooperative to build a washing station and purchase needed processing equipment. In two years time, Kedamai had repaid the loan in full. Since then, the Kedamai Cooperative has established an impressive economic system which highly regards their farmers. livelihoods, allowing 90% of the final price of their cherry going directly to them.
      </p>
    </mat-card-content>

  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="image2"></div>
      <mat-card-title>Hidden City Espresso</mat-card-title>
      <mat-card-subtitle>Blend</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets\img\hiddencity.png">
    <mat-card-content>
      <p>
        This blend is crafted specifically to taste great as a straight espresso or balanced with milk. We think it makes the best cappuccino.
      </p>
    </mat-card-content>

  </mat-card>

  
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="image3"></div>
      <mat-card-title>Buena Vista</mat-card-title>
      <mat-card-subtitle>Guatemala</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets\img\CA_Buena_Vista_Website_Image.png">
    <mat-card-content>
      <p>
        Located along the Sierra Madre Mountains, ‘Buena Vista,’ meaning ‘Beautiful View,’ certainly lives up to its name as it overlooks the southern chain of volcanoes from a surreal elevation of 1900 meters. Our good friend and partner, Luis Pedro Zelaya, owns and operates the farm as well as the processing mill, Bella Vista, from which we receive some of our favorite Guatemalan coffees year after year – this being one of them.
      </p>
    </mat-card-content>

  </mat-card>
</div>

